{%- match href -%}
{%- when Some with (url) -%}
<a class="{{ self.class_name() }}" href="{{ url }}" aria-label="{{ label }}" title="{{ label }}"{% for attr in attrs %} {{ attr.name }}="{{ attr.value }}"{% endfor %}>{{ icon }}</a>
{%- when None -%}
<button class="{{ self.class_name() }}" type="{{ button_type }}" aria-label="{{ label }}" title="{{ label }}"{% if disabled %} disabled{% endif %}{% for attr in attrs %} {{ attr.name }}="{{ attr.value }}"{% endfor %}>{{ icon }}</button>
{%- endmatch -%}
