<div class="wf-minibuffer">
  <span class="wf-minibuffer-prompt">{{ prompt }}</span>
  <span class="{{ self.message_class() }}" data-wf-echo>{% match message %}{% when Some with (text) %}{{ text }}{% when None %}{% endmatch %}</span>
  {%- match time -%}
  {%- when Some with (text) -%}
  <span class="wf-minibuffer-time">{{ text }}</span>
  {%- when None -%}
  {%- endmatch -%}
  {%- if self.has_history() -%}
  <div class="wf-minibuffer-history">
    {%- for row in history %}
    <div class="{{ row.class_name() }}">
      <span class="time">{{ row.time }}</span>
      <span class="msg">{{ row.message }}</span>
    </div>
    {%- endfor %}
  </div>
  {%- endif -%}
</div>
