<table class="{{ self.class_name() }}">
  <thead>
    <tr>
      {%- for header in headers -%}
      <th{% if !header.class_name().is_empty() %} class="{{ header.class_name() }}"{% endif %}>{{ header.label }}</th>
      {%- endfor -%}
    </tr>
  </thead>
  <tbody>
    {%- for row in rows -%}
    <tr{% if row.selected %} class="is-selected" aria-selected="true"{% endif %}>
      {%- for cell in row.cells -%}
      <td{% if !cell.class_name().is_empty() %} class="{{ cell.class_name() }}"{% endif %}>{{ cell.text }}</td>
      {%- endfor -%}
    </tr>
    {%- endfor -%}
  </tbody>
</table>
